@page "/CreateUpdateProdcut"

@using DATN.ADMIN.IServices
@using DATN.Data.Entities
@using DATN.ViewModels.DTOs.Category
@using DATN.ViewModels.DTOs.Product
@using DATN.ViewModels.DTOs.ServiceManager
@using MudBlazor
@inject ISnackbar Snackbar
@inject IDialogService _diagService
<EditForm Model="@product" OnValidSubmit="@(async () => await Submit())">
    <MudItem xs="12" sm="12">
        <MudCard>
            <MudCardContent>

                @if (id == 0 || id == null)
                {
                    <MudTextField T="string" Label="Tên danh mục sản phẩm" @bind-Value="@product.Name" For="@(() => _product.Name)" />
                    <MudTextField T="string" Label="Mô Tả" @bind-Value="@_product.Description" For="@(() => _product.Description)" />
                }
                else
                {
                    <MudTextField T="string" Label="Tên danh mục" @bind-Value="@_product.Name" For="@(() => _product.Name)" />
                    <MudTextField T="string" Label="Mô tả" @bind-Value="@_product.Description" For="@(() => _product.Description)" />
                }
                <hr class="hr" />
                <div class="mt-5" style="text-align: end;">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                        @_nameButton
                    </MudButton>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</EditForm>

@code {
    // public string CategoryProduct { get; set; }
    // public string Name { get; set; }
    // public string? Description { get; set; }
    // public bool Status { get; set; }
    // public string Brand { get; set; }
    [Parameter]
    public int id { get; set; }
    [CascadingParameter] MudDialogInstance _dialogBox { get; set; }

    [Parameter]
    public CreateProductView _product { get; set; } = new CreateProductView();

    [Parameter]
    public ProductView product { get; set; } = new ProductView();
    string _nameButton = "";
    [Inject]
    private IProductServices _client { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (id != null && id != 0)
        {
            _nameButton = "Cập nhật";
        }
        else
        {
            _nameButton = "Thêm mới";
        }
    }
    public async Task Create()
    {
        if (await Confirm("thêm mới") == true)

        {
            var result = await _client.CreateProduct(_product);
            if (result.IsSuccess)
            {

                Message(result.Data, Severity.Success);
                _dialogBox.Close(DialogResult.Ok(true));
            }
            else
                Message(result.Error, Severity.Error);
        }
        else
        {
            return;
        }
    }


    public async Task Update()
    {
        var confirm = await Confirm("cập nhật");
        if (!confirm)
        {
            return;
        }

        if (product != null)
        {
            var result = await _client.UpdateProduct(_product);
            if (result.IsSuccess)
            {
                Message(result.Data, Severity.Success);

                _dialogBox.Close(DialogResult.Ok(true));
            }
            else
            {
                Message(result.Error, Severity.Error);
            }
        }
        else
        {
            Message("Có lỗi trong quá trình cập nhật", Severity.Error);
        }

    }

    public async Task Submit()
    {
        if (id == null || id == 0)
        {
            await Create();
        }
        else
        {
            await Update();
        }
    }

    private async Task<bool>
    Confirm(string text)
    {
        var confirm = await _diagService.ShowMessageBox("Thông báo", $"Xác nhận {text} sản phẩm?",
        yesText: "Xác nhận",
        cancelText: "Hủy", noText: null,
        options: new DialogOptions { Position = DialogPosition.Center, MaxWidth = MaxWidth.Small, FullWidth = true });
        StateHasChanged();
        if (!confirm.HasValue) return false;
        return confirm.Value;

    }

    //thông báo
    private void Message(string message, Severity severity)
    {
        Snackbar.Clear();
        Snackbar.Configuration.SnackbarVariant = Variant.Outlined;
        Snackbar.Configuration.MaxDisplayedSnackbars = 10;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopEnd;
        Snackbar.Add(message, severity);
    }
}
