@page "/ListCategory"
@using System.Net.Http.Json
@using DATN.ADMIN.Components
@using DATN.ADMIN.IServices
@using DATN.Data.Entities
@using DATN.ViewModels.Common
@using DATN.ViewModels.DTOs.Authenticate
@using DATN.ViewModels.DTOs.Category
@inject HttpClient httpClient
@inject IAddressService _addressServive;
@inject ISnackbar Snackbar
@inject IDialogService _dialogservice;

<PageTitle>Danh sách loại sản phẩm</PageTitle>
<MudText Typo="Typo.h6">Danh mục sản phẩm</MudText>

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@(async()=>await OpenDialog(null))" Style="margin-bottom: 10px" title="Thêm">Thêm</MudButton>
@if (lstCate.Count > 0 && lstCate != null)
{
    <MudDataGrid Items="@lstCate" Groupable="false" QuickFilter="@_quickFilter" Hover="true" Filterable="true">
        <ToolBarContent>
            <div style="width:200px">
                <MudSelect T="CateStatus" Label="Trạng thái" Variant="Variant.Outlined" Style="width: 200px; margin-bottom: 10px;" ValueChanged="HandleStatusChange">
                    <MudSelectItem Value="CateStatus.All">Tất cả</MudSelectItem>
                    <MudSelectItem Value="CateStatus.Active">Đang hoạt động</MudSelectItem>
                    <MudSelectItem Value="CateStatus.Inactive">Ngừng hoạt động</MudSelectItem>
                </MudSelect>
            </div>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" MaxLength="50"></MudTextField>
        </ToolBarContent>
        <Columns>
            <TemplateColumn Title="STT" Sortable="false" Filterable="false">
                <CellTemplate>
                    <span>@(lstCate.IndexOf(context.Item) + 1)</span>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Name" Title="Tên danh mục" Sortable="false" Filterable="false" />
            <PropertyColumn Property="x => x.Description" Title="Mô tả" Sortable="false" Filterable="false" />
            <TemplateColumn Title="Trạng thái" Sortable="false" Filterable="false">
                <CellTemplate>
                    @if (context.Item.IsDeleted == true)
                    {
                        <MudChip Color="Color.Error" title="Hoạt động">Ngưng hoạt động</MudChip>
                        
                    }
                    else
                    {
                        <MudChip Color="Color.Success" title="Hoạt động">Hoạt động</MudChip>

                    }
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Hành động" Sortable="false" Filterable="false">
                <CellTemplate>
                    <MudButtonGroup Variant="Variant.Filled">
                        @if (context.Item.IsDeleted != true)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(async()=>await DeleteCate(context.Item.Id))" title="Xoá"></MudIconButton>

                        }
                        else
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Done" Color="Color.Surface" title="Kích hoạt" OnClick="@(async()=>await ActiveCate(context.Item.Id))"></MudIconButton>
                            
                        }
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Warning" OnClick="@(async()=>await OpenDialog(context.Item.Id))" title="Sửa"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Default" OnClick="@(async()=>await OpenDetails(context.Item.Id,context.Item.Name))" title="Xem chi tiết"></MudIconButton>
                    </MudButtonGroup>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="CategoryView" />
        </PagerContent>
    </MudDataGrid>

}
else
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>
@code {

    private string searchString = "";
    private List<CategoryView> lstCate = new List<CategoryView>();
    [Inject]
    private ICategoryServices _client { get; set; }


    private enum CateStatus
    {
        All = 0, // lấy tất cả isdeleted
        Active = -1, // (IsDeleted = false)
        Inactive = 1 //(IsDeleted = true)
    }

    private CateStatus selectedStatus = CateStatus.All;


    protected override async Task OnInitializedAsync()
    {
        await LoadData();

    }
    // load lai du lieu
    protected async Task LoadData()
    {
        var respone = await _client.ListCategory();
        if (respone.IsSuccess)
        {
            lstCate = respone.Data.OrderByDescending(x => x.Id).ToList();
            if (selectedStatus == CateStatus.All)
            {
                lstCate = respone.Data.OrderByDescending(x => x.Id).ToList();
            }
            else if (selectedStatus == CateStatus.Active)
            {
                lstCate = respone.Data.Where(x => x.IsDeleted != true).ToList();
                if (lstCate.Count == null || lstCate.Count == 0)
                {
                    lstCate = respone.Data.OrderByDescending(x => x.Id).ToList();
                    Message("Trạng thái đang hoạt động bị trống", Severity.Warning);
                }
                else
                {
                    lstCate = respone.Data.Where(x => x.IsDeleted != true).ToList();
                }
            }
            else if (selectedStatus == CateStatus.Inactive)
            {
                lstCate = respone.Data.Where(x => x.IsDeleted == true).ToList();
                if (lstCate.Count == null || lstCate.Count == 0)
                {
                    lstCate = respone.Data.OrderByDescending(x => x.Id).ToList();
                    Message("Trạng thái ngưng hoạt động bị trống", Severity.Warning);
                }
                else
                {
                    lstCate = respone.Data.Where(x => x.IsDeleted == true).ToList();
                }
            }
        }
        else
        {
            lstCate = new List<CategoryView>();
        }
    }

    private async Task HandleStatusChange(CateStatus e)
    {
        selectedStatus = e;
        await LoadData();
    }

    private Func<CategoryView, bool> _quickFilter => x =>
     {
         if (selectedStatus == CateStatus.All && x.IsDeleted == true || selectedStatus == CateStatus.All && x.IsDeleted == false)
         {
             if (string.IsNullOrWhiteSpace(searchString))
                 return true;

             if (x.Name.Contains(searchString.Trim(), StringComparison.OrdinalIgnoreCase))
                 return true;

             if (x.Description.Contains(searchString.Trim(), StringComparison.OrdinalIgnoreCase))
                 return true;
         }
         else if (selectedStatus == CateStatus.Active && x.IsDeleted != true)
         {
             if (string.IsNullOrWhiteSpace(searchString))
                 return true;

             if (x.Name.Contains(searchString.Trim(), StringComparison.OrdinalIgnoreCase))
                 return true;

             if (x.Description.Contains(searchString.Trim(), StringComparison.OrdinalIgnoreCase))
                 return true;
         }
         else
         {
             if (string.IsNullOrWhiteSpace(searchString))
                 return true;

             if (x.Name.Contains(searchString.Trim(), StringComparison.OrdinalIgnoreCase))
                 return true;

             if (x.Description.Contains(searchString.Trim(), StringComparison.OrdinalIgnoreCase))
                 return true;
         }
         return false;
     };

    //hoi truoc khi xoa
    private async Task<bool?> Confirm()
    {
        var confirm = await _dialogservice.ShowMessageBox("Thông báo",
                    "Xác nhận xoá danh mục này?",
           yesText: "Xác nhận",
                    cancelText: "Hủy", noText: null, options: new DialogOptions { Position = DialogPosition.TopCenter, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true });
        StateHasChanged();
        return confirm;
    }

    //Thông báo hỏi khi xoá
    private async Task DeleteCate(int? id)
    {
        if (await Confirm() == true)
        {
            var response2 = await _client.RemoveCategory(Convert.ToInt32(id));
            if (response2.IsSuccess)
            {
                Message(response2.Data, Severity.Success);
                await LoadData();
            }
            else
            {
                Message(response2.Error, Severity.Error);
            }
        }
    }

    private async Task ActiveCate(int? id)
    {
        var repon = await _client.ActiveCategory(Convert.ToInt32(id));
        if (repon.IsSuccess)
        {
            Message(repon.Data, Severity.Success);
            await LoadData();
        }
        else
        {
            Message(repon.Error, Severity.Success);
        }
    }

    //thêm sửa !
    private async Task OpenDialog(int? id)
    {

        var parameters = new DialogParameters();
        string nameDialog = "Thêm mới danh mục";
        if (id != null)
        {
            var cate = lstCate.FirstOrDefault(x => x.Id == id);
            parameters.Add("id", id);
            parameters.Add("category", cate);
            nameDialog = "Cập nhật danh mục";
        }
        DialogOptions options = new DialogOptions()
            {
                CloseOnEscapeKey = true,
                Position = DialogPosition.Center,
                MaxWidth = MaxWidth.Small,
                CloseButton = true,
                FullWidth = true,
                DisableBackdropClick = true
            };
        var createUpdateDialog = await _dialogservice.ShowAsync<CreateUpdateCategory>(nameDialog, parameters, options);
        var result = await createUpdateDialog.Result;
        if (!result.Canceled)
        {
            createUpdateDialog.Close();
            await LoadData();
            StateHasChanged();
        }
    }

    private async Task OpenDetails(int? id,string name)
    {

        var parameters = new DialogParameters();
            var cate = lstCate.FirstOrDefault(x => x.Id == id);
            parameters.Add("id", id);
           string nameDialog = $"Chi tiết danh mục: "+name;
        DialogOptions options = new DialogOptions()
            {
                CloseOnEscapeKey = true,
                Position = DialogPosition.Center,
                MaxWidth = MaxWidth.Medium,
                CloseButton = true,
                FullWidth = true,
                DisableBackdropClick = true
            };
        var createUpdateDialog = await _dialogservice.ShowAsync<DetailsCateProduct>(nameDialog, parameters, options);
        var result = await createUpdateDialog.Result;
        if (!result.Canceled)
        {
            createUpdateDialog.Close();
            await LoadData();
            StateHasChanged();
        }
    }

     //messenge
    private void Message(string message, Severity severity)
    {
        Snackbar.Configuration.SnackbarVariant = Variant.Outlined;
        Snackbar.Configuration.MaxDisplayedSnackbars = 10;
        Snackbar.Add(message, severity);
    }
}