@page "/trangchu"
@using DATN.Utilites
<link rel="stylesheet" href="/css/Statical.css">
<PageTitle>Trang chủ</PageTitle>
<AuthorizeView Roles="Admin">
	<Authorized>
		<MudGrid>
			<MudItem sm="12">
				<MudToggleGroup T="int?" SelectionMode="MudBlazor.SelectionMode.SingleSelection" Value="type" ValueChanged="(e)=>LoadData(e)" Color="Color.Tertiary" Style="height: 100px" CheckMark>
					<MudToggleItem Value="@((int?)1)" Text="Ngày" />
					<MudToggleItem Value="@((int?)2)" Text="Tuần" />
					<MudToggleItem Value="@((int?)3)" Text="Tháng" />
				</MudToggleGroup>
				<br />
				<MudText Typo="Typo.h4" HtmlTag="h2">Thống kê doanh thu cửa hàng</MudText>

			</MudItem>
			<MudItem sm="12" md="7">
				@if (customerData != null && customerData.Data != null && customerData.Data.Count()>0)
				{
					<MudPaper Elevation="2" Class="pa-4" Style="" Height="350px">

						<SfChart Title="@customerData.Name"  Width="@width">
							<ChartPrimaryXAxis Title="" ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
							<ChartPrimaryYAxis></ChartPrimaryYAxis>
							<ChartTooltipSettings Enable="true"></ChartTooltipSettings>
							<ChartSeriesCollection>
								<ChartSeries DataSource="@customerData.Data" XName="Label" YName="Value" Type="ChartSeriesType.Column">
								</ChartSeries>
							</ChartSeriesCollection>
						</SfChart>


					</MudPaper>
				}
				

			</MudItem>
			<MudItem sm="12" md="5">
				<MudPaper Elevation="2" Class="pa-4" Style="height: 350px;">


					<MudChart ChartType="ChartType.Donut" Width="100%" Height="200px" InputData="@dataPie" InputLabels="@labelsPie">
						<CustomGraphics>
							<text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="3" font-weight="300">Doanh thu</text>
							<text class="donut-inner-text" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="4">@dataPie.Sum().ToString("N0")đ</text>
						</CustomGraphics>
					</MudChart>

				</MudPaper>
			</MudItem>
			<MudItem sm="12" md="6">

				<MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">
					@if (top3ProductReven != null && top3ProductReven.Count > 0)
					{
						<div class="custom-container">
							<h1>Top 3 sản phẩm doanh thu cao nhất</h1>
							@foreach (var item in top3ProductReven)
							{
								if (top3ProductReven.IndexOf(item)==3)
								{
									break;
								}
								<div class="custom-product">
									<img src="@item.ImgUrl" alt="Sản phẩm">
									<div class="custom-product-info">
										<h3 class="text-info">@item.Name</h3>
										<p> <b>Số lượng bán ra: @item.TotalAmount.ToString("N0") </b></p>
										<p class="custom-price"> Tổng doanh thu: @item.TotalRevenue.ToString("N0") VND</p>
									</div>
								</div>
							}
						</div>
					}

				</MudPaper>

			</MudItem>
			<MudItem sm="12" md="6">
				<MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
					@if (top3ServiceReven != null && top3ServiceReven.Count > 0)
					{
						<div class="custom-container">
							<h1>Top 3 dịch vụ doanh thu cao nhất</h1>
							@foreach (var item in top3ServiceReven)
							{
								if (top3ServiceReven.IndexOf(item) == 3)
								{
									break;
								}
								<div class="custom-product">
									<img src="/img/service.jpg" alt="Dịch vụ">
									<div class="custom-product-info">
										<h3 class="text-info">@item.Name</h3>
										<p> <b>Số lượng bán ra: @item.TotalAmount.ToString("N0") </b></p>
										<p class="custom-price"> Tổng doanh thu: @item.TotalRevenue.ToString("N0") VND</p>
									</div>
								</div>
							}
						</div>
					}
					
				</MudPaper>
			</MudItem>
			<MudItem sm="12" md="6">

				<MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">
					@if (top3ProductQuantity != null && top3ProductQuantity.Count > 0)
					{
						<div class="custom-container">
							<h1>Top 3 sản phẩm bán chạy</h1>
							@foreach (var item in top3ProductQuantity)
							{
								if (top3ProductReven.IndexOf(item) == 3)
								{
									break;
								}
								<div class="custom-product">
									<img src="@item.ImgUrl" alt="Sản phẩm">
									<div class="custom-product-info">
										<h3 class="text-info">@item.Name</h3>
										<p class="custom-price">Số lượng bán ra: @item.TotalAmount.ToString("N0")</p>
										<p><b> Tổng doanh thu: @item.TotalRevenue.ToString("N0") VND</b></p>
									</div>
								</div>
							}
						</div>
					}

				</MudPaper>

			</MudItem>
			<MudItem sm="12" md="6">
				<MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
					@if (top3ServiceQuantity != null && top3ServiceQuantity.Count > 0)
					{
						<div class="custom-container">
							<h1>Top 3 dịch vụ làm nhiều nhất</h1>
							@foreach (var item in top3ServiceQuantity)
							{
								if (top3ServiceReven.IndexOf(item) == 3)
								{
									break;
								}
								<div class="custom-product">
									<img src="/img/service.jpg" alt="Dịch vụ">
									<div class="custom-product-info">
										<h3 class="text-info">@item.Name</h3>
										<p class="custom-price">Số lượng bán ra: @item.TotalAmount.ToString("N0")</p>
										<p><b>Tổng doanh thu: @item.TotalRevenue.ToString("N0") VND </b> </p>
									</div>
								</div>
							}
						</div>
					}

				</MudPaper>
			</MudItem>
		</MudGrid>
	</Authorized>
	<NotAuthorized>
		<h1>Bạn không có quyền truy cập trang này !!!!</h1>
	</NotAuthorized>
</AuthorizeView>
@code {


}