@page "/quanlynhanvien"
@using DATN.ADMIN.Data

<PageTitle>Quản lý nhân viên</PageTitle>


<div class="content-wrapper px-4">
    <h3>Danh sách nhân viên</h3>

    @if (response.Data == null || response.Data.Count == 0 )
    {
        <DATN.ADMIN.Components.LoadingIndicator></DATN.ADMIN.Components.LoadingIndicator>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>SĐT. (C)</th>
                    <th>Email. (F)</th>
                    <th>Địa chỉ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in response.Data)
                {
                    <tr>
                        <td>@i.Name</td>
                        <td>@i.PhoneNumber</td>
                        <td>@i.Email</td>
                        <td>@i.Address</td>
                        <td>
                            <a href="@($"/editfootballplayer/{FootballPlayer.FootballPlayerId}")" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }

</div>

