<AuthorizeView Roles="Admin">
	<Authorized>
		@page "/printBill/{billData}"
		@using DATN.ADMIN.IServices
		@using DATN.Utilites
		@using DATN.ViewModels.DTOs.Booking
		@using Newtonsoft.Json
		@inject IJSRuntime jsRuntime
		@inject IBookingViewServices _ser
		@layout LayoutNoAuth

		<style>
			.div-content {
				font-family: Arial, sans-serif;
				padding: 20px;
				border: 1px solid #ddd;
				border-radius: 8px;
				width: 90%;
				max-width: 800px;
				margin: 0 auto;
				box-shadow: 0 0 10px rgba(0,0,0,0.1);
			}

			h3 {
				color: #333;
				text-align: center;
			}

			p {
				margin: 0;
				padding: 5px 0;
				margin-left: 5px;
			}

			.table {
				width: 100%;
				border-collapse: collapse;
				margin-top: 20px;
			}

				.table th, .table td {
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
				}

				.table th {
					background-color: #f4f4f4;
				}

				.table td {
					background-color: #fafafa;
				}

				.table thead {
					background-color: #f9f9f9;
				}

				.table tr:nth-child(even) {
					background-color: #f2f2f2;
				}

				.table tr:hover {
					background-color: #eaeaea;
				}
		</style>
		@if (bill != null)
		{
			<div class="div-content" id="receipt">
				<h3>MEW SHOP</h3>
				<div style="display:flex; justify-content:space-between">
					<div style="display: flex; justify-content: flex-start">
						<div>
							<p>Khách hàng: @bill.CusName</p>
							<p>Thời gian:  @bill.TimePayment</p>
							<p>Nhân viên:  @bill.StaffName   </p>
							<p>Số điện thoại: @bill.PhoneNumber</p>

						</div>
					</div>
					<div style="display: flex; justify-content: flex-end">

						<div style="float:right">
							@if (!string.IsNullOrEmpty(bill.QrCheckOut))
							{

								<img width="150" src="@bill.QrCheckOut" />
							}
						</div>
					</div>
				</div>

				<table class="table" style="max-width:95%!important">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Tên DV/SP</th>
							<th scope="col">Giá(VNĐ) </th>
							<th scope="col">Số lượng</th>
							<th scope="col">Tổng tiền(VNĐ)</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in bill.DataPrintBills)
						{
							<tr>
								<th scope="row">@(bill.DataPrintBills.IndexOf(item)+1)</th>
								<td>@item.Name</td>
								<td>@item.Price</td>
								<td>@item.Quantity</td>
								<td>@item.Total</td>
							</tr>
						}

					</tbody>
				</table>
				<p><b>Tổng tiền:</b> @bill.TotalAmount</p>
				<p><b>Giảm giá:</b> @bill.TotalReduce</p>
				<p><b>Tiền khách trả:</b> @bill.AmountPayment</p>
			</div>
		}

		<script>
			function printReceipt() {
				window.print();
				setTimeout(function () {
					window.close();
				}, 5000); // Đóng sau 5 giây
			}
			window.addEventListener('load', function () {
				printReceipt();
			});
		</script>

		@code {
		[Parameter]
		public string billData { get; set; }

		private BillPrintVM? bill;

		protected override async Task OnInitializedAsync()
		{
			try
			{
				var response =  await _ser.GetBillPrintByID(int.Parse(billData));
				if (response.IsSuccess)
				{
					bill = response.Data;
				}
			}
			catch (Exception ex)
			{

			}

			await Task.CompletedTask;
		}
		}
	</Authorized>
	<NotAuthorized>
		<p>Không có quyền truy cập</p>
	</NotAuthorized>
</AuthorizeView>
