@page "/viewbill"
@using DATN.ADMIN.IServices
@using DATN.Utilites
@using DATN.ViewModels.DTOs.Booking
@inject IAddressService _addressServive;

<MudContainer Class="invoice-container" Style="margin-top: 20px">
    <MudPaper Elevation="3" Class="invoice-paper">
        <div class="invoice-body">
            @if (bill != null)
            {
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-center flex-grow-1">
                        <MudText Typo="Typo.h3" Class="invoice-label" Style="color: hotpink;text-align:center;">THÔNG TIN HOÁ ĐƠN</MudText>
                    </div>
                    <div class="text-right">
                        <MudButton Class="invoice-label" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Print" Color="Color.Primary" Style="margin:15px">In</MudButton>
                    </div>
                </div>
                <MudText Typo="Typo.body2" Class="invoice-info" Style="margin-left:10px">
                    <span><b>Ngày tạo:</b> @DateTime.Now.ToString("dd/MM/yyyy HH:mm")</span><br />
                    <span><b>Khách hàng:</b> @bill.GuestName</span><br />
                    <span><b>Số điện thoại:</b> @bill.PhoneNumber</span><br />
                    <span><b>Địa chỉ:</b> @_addressServive.GetAddress(bill.Address)</span><br />
                </MudText>

                <MudText Typo="Typo.h6" Class="invoice-label" Style="text-align:center;margin-bottom:5px">Danh sách dịch vụ đã sử dụng</MudText>
                <MudTable Items="@bill.ListServiceBooked" Class="invoice-table">
                    <HeaderContent>
                        <MudTh>Dịch vụ sử dụng</MudTh>
                        <MudTh>Tên thú cưng</MudTh>
                        <MudTh>Nhân viên làm dịch vụ</MudTh>
                        <MudTh>Đơn giá</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.ServiceDetailName</MudTd>
                        <MudTd>@context.PetName</MudTd>
                        <MudTd>@context.NameStaff</MudTd>
                        <MudTd>@CurrencyHelper.FormatCurrency((float)context.Price)</MudTd>
                    </RowTemplate>
                </MudTable>
                <style>
                    .outer-div {
                        display: flex;
                        justify-content: flex-end; /* Đẩy div ngoài về bên phải */
                        width: 100%;
                    }

                    .inner-div {
                        text-align: left; /* Căn trái nội dung trong div */
                    }
                </style>
                <div class="outer-div">
                    <div class="inner-div">
                        <br />
                        <span><b>Tạm tính: </b>@CurrencyHelper.FormatCurrency((float)@bill.TotalPrice)</span><br />
                        <br />
                        <span><b>Giảm giá:</b> @CurrencyHelper.FormatCurrency((float)@bill.ReducePrice)</span><br />
                        <br />
                        <span><b>Tổng tiền:</b> @CurrencyHelper.FormatCurrency((float)@bill.TotalPayment)</span><br />

                        <MudRadioGroup T="int" @bind-Checked="@selectedPaymentMethod">
                            <MudRadio Value="1" Color="Color.Primary" UnCheckedColor="Color.Default">Tiền mặt</MudRadio>
                            <MudRadio Value="2" Color="Color.Secondary" UnCheckedColor="Color.Default">Chuyển khoản</MudRadio>
                        </MudRadioGroup>
                        @if (selectedPaymentMethod == 2)
                        {
                           <QRVietQRBankking/>
                        }
                        <MudButton Variant="Variant.Filled" Color="Color.Success" Style="margin-bottom:5px">Thanh toán</MudButton>
                    </div>
                </div>
            }
            else
            {
                <div class="no-invoice">
                    <MudTypography Typo="Typo.body2">Không có hóa đơn nào được chọn.</MudTypography>
                </div>
            }
        </div>
    </MudPaper>
</MudContainer>

@code {
    [Parameter]
    public Guid? guid { get; set; }
    [Parameter]
    public DateTime date { get; set; }
    [Inject]
    private IBookingViewServices _client { get; set; }
    private Bill bill = new Bill();
    private int selectedPaymentMethod;
    private async Task LoadData()
    {
        var respone = await _client.GetBillOfGuest(guid.Value, date);
        bill = respone.Data;
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

}


