<h3>ViewProductBill</h3>
@* <MudDataGrid Items="@lstServiceName" QuickFilter="@_quickFilter" Filterable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Chọn dịch vụ</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" MaxLength="50"></MudTextField>
    </ToolBarContent>
    <Columns>
        <TemplateColumn Title="STT" Sortable="false" Filterable="false">
            <CellTemplate>
                @(lstServiceName.IndexOf(context.Item) + 1)
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x=>x.ServiceName" Title="Tên chi dịch vụ" Sortable="false" Filterable="false" />
        <TemplateColumn Title="Giá" Sortable="false" Filterable="false">
            <CellTemplate>
                @(CurrencyHelper.FormatCurrency(context.Item.Price))
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Thời gian làm" Sortable="false" Filterable="false">
            <CellTemplate>
                @context.Item.Duration <span>Phút</span>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x=>x.Description" Title="Mô tả" Sortable="false" Filterable="false" />
        <TemplateColumn Sortable="false" Filterable="false" Title="Trạng thái">
            <CellTemplate>
                @if (!context.Item.IsDeleted)
                {
                    <span>
                        <MudChip Color="Color.Success" title="Hoạt động">Phục vụ</MudChip>
                    </span>
                }
                else
                {
                    <span>
                        <MudChip Color="Color.Error" title="Hoạt động">Ngưng phục vụ</MudChip>
                    </span>
                }
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Hành động" Sortable="false" Filterable="false">
            <CellTemplate>
                @if (!context.Item.IsDeleted)
                {
                    <MudButton OnClick="@(async()=>await OpenDialog(context.Item.Duration,context.Item.ServiceDetailId,context.Item.Price,context.Item.Description))" StartIcon="@Icons.Material.Filled.Done" Color="Color.Primary">Chọn</MudButton>
                }
                else
                {
                    <MudButton OnClick="@(async()=>await OpenDialog(context.Item.Duration,context.Item.ServiceDetailId,context.Item.Price,context.Item.Description))" Disabled StartIcon="@Icons.Material.Filled.Done" Color="Color.Primary">Chọn</MudButton>
                }
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="GetServiceNameVM" />

    </PagerContent>
</MudDataGrid> *@
@code {

}
