@page "/calendarNV"
@using DATN.ADMIN.Data
<PageTitle>Lịch làm việc của nhân viên</PageTitle>

<div class="content-wrapper">
    @if (response.Data == null || response.Data.Count == 0)
    {
        <DATN.ADMIN.Components.LoadingIndicator></DATN.ADMIN.Components.LoadingIndicator>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Họ Tên</th>
                    <th>Ca làm</th>
                    <th>Ngày làm</th>
                    <th>Từ</th>
                    <th>Đến</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in response.Data)
                {
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>@i.Name</td>
                        <td>@i.Shift</td>
                        <td>@i.WorkDate</td>
                        <td>@i.To</td>
                        <td>@i.From</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>