@page "/CreateUpdateServicesDetails"
@using DATN.ADMIN.IServices
@using DATN.Data.Entities
@using DATN.ViewModels.DTOs.ServiceDetail
@inject ISnackbar Snackbar
@inject IDialogService _diagService
<EditForm Model="@createServiceDetailVM">
    <MudItem xs="12" sm="12">
        <MudCard>
            <MudCardContent>
                <MudSelect Margin="Margin.Dense"
                           T="int"
                           @bind-Value="@createServiceDetailVM.ServiceId"
                           Label="Chọn dịch vụ"
                           Variant="Variant.Text">
                    @foreach (var item in lstService)
                    {
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    }
                </MudSelect>
                <MudTextField T="string" Label="Tên dịch vụ chi tiết" @bind-Value="@createServiceDetailVM.Name" />
                <MudTextField T="float" Label="Giá" @bind-Value="@createServiceDetailVM.Price" />
                <MudTextField T="double" Label="Thời gian làm" @bind-Value="@createServiceDetailVM.Duration" />
                <MudTextField T="string" Label="Mô tả" @bind-Value="@createServiceDetailVM.Description" />
                <hr class="hr" />
                <div class="mt-5" style="text-align: end;">
                    <MudButton ButtonType="ButtonType.Submit" OnClick="async () => await Submit()" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Thêm mới</MudButton>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public CreateServiceDetailVM createServiceDetailVM { get; set; } = new CreateServiceDetailVM();

    private List<Service> lstService = new List<Service>();

    [Inject]
    public IServiceManagermentService _serviceManagermentService { get; set; }

    [Inject]
    public IServiceDetailServices _serviceDetailService { get; set; }

    [CascadingParameter] MudDialogInstance _dialogBox { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await _serviceManagermentService.GetAll();
        if (result.IsSuccess)
        {
            lstService = result.Data;
        }
    }

    public async Task Submit()
    {
    }

    private async Task<bool> Confirm(string text)
    {
        var confirm = await _diagService.ShowMessageBox("Thông báo", $"Xác nhận {text} voucher?",
                    yesText: "Xác nhận",
                    cancelText: "Hủy", noText: null,
                    options: new DialogOptions { Position = DialogPosition.Center, MaxWidth = MaxWidth.Small, FullWidth = true });
        StateHasChanged();
        if (!confirm.HasValue) return false;
        return confirm.Value;
    }

    protected async Task Create()
    {
        var confirm = await Confirm("thêm mới");
        if (!confirm)
        {
            return;
        }
        var result = await _serviceDetailService.Create(createServiceDetailVM);
        if (result.IsSuccess)
        {
            Message("Thành công", Severity.Success);
            _dialogBox.Close(DialogResult.Ok(true));
        }
        else
        {
            Message(result.Error, Severity.Error);
        }
        
    }

    //thông báo
    private void Message(string message, Severity severity)
    {
        Snackbar.Clear();
        Snackbar.Configuration.SnackbarVariant = Variant.Outlined;
        Snackbar.Configuration.MaxDisplayedSnackbars = 10;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopEnd;
        Snackbar.Add(message, severity);
    }
}
